.luachonhoivien {
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 180%;
  font-weight: bold;
  color: black;

}

.toto2 {
  display: none;
}

.luachonhoivien.clicked {

  text-decoration: #ff0000 underline;
  color: #ff0000;
  zoom: 1.2;
  transition: all 0.3s ease;
}

.content {
  position: relative;
  z-index: 2;
  padding: 50px;
}

.run {
  width: 80%;
  height: 100%;
}

.new-row {
  clear: left;
}

.horizontal-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.horizontal-list li {
  display: inline-block;
  margin-right: 10px;
}

.thetd:hover {
  color: #E01B43;
  transition: all 0.3s ease;
}

.horizontal-line {
  width: 0.1px;
  height: 200px;
  background-color: darkgrey;
  transform: rotate(180deg);
}

.horizontalline {
  width: 150px;
  height: 0.1px;
  background-color: darkgrey;

}

.horizontal-line2 {
  margin-left: 2em;
  margin-right: 2em;
  width: 3px;
  height: 180px;
  background-color: #E01B43;
  transform: rotate(180deg);
}

.xemgia {
  margin-top: 2em;

}

.so {
  font-size: 300%;
  font-weight: bold;
}

.chu {
  font-size: 200%;
  font-weight: bold;
}

.thetd:hover {
  color: #ff0000;
}

.thend {
  font-size: 140%;
}

.banggia {
  font-family: 'Times New Roman', Times, serif;
}

.btndkngay {
  width: 70%;
  background-color: #E01B43;
  color: #fff;
  font-size: 150%;
  font-weight: bold;
  border: none;
}

.btndkngay:hover {
  background-color: brown;
}

.circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background-color: #2ecc71;
  color: white;
  font-size: 1em;
}

.checkmark {
  line-height: 1em;
}

.quyenloi {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.9;
  padding: auto;


  font-size: medium;
  font-family: 'Times New Roman', Times, serif;

}

.noidung2 {
  border: 0.1px solid whitesmoke;
  text-align: center;
  font-weight: bold;



}

.noidung1 {
  border: 0.1px solid whitesmoke;
  width: 50%;

  border-left: #E01B43 4px solid;
}

.hang1 {
  background-color: gainsboro;
}

.hang2 {
  background-color: white;
}

.hangdau {
  background-color: white;
}

.hang2:hover {
  background-color: gainsboro;
}

@media (max-width: 1023px) {
  .anhrun {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 0; /* giá trị z-index của ảnh thấp hơn phần tử chứa nội dung */
    width: 50%;
    height: 100%;
    opacity: 0.5;
    background-image: url('../img/run.png');
    background-size: cover;
    background-position: top center;
  }

  .toto {
    position: relative;
    z-index: 1;
  }

  .quyenloi {

    width: 90%;
    font-size: 13.5px;

  }

}

.nento {
  display: none;
}

@media (max-width: 768px) {
.anhquyenloi{
 margin: auto;
}
  .quyenloi {
    position: absolute;
    width: 90%;
    font-size: 11px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.9;
    padding: auto;
    font-family: 'Times New Roman', Times, serif;

  }

  .anhquyenloi {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
  }

  .nav__list-link {
    font-size: small;
  }
}

@media(max-width: 600px) {
  .noidung1 {

    width: 60%;
  }

  .quyenloi {
    font-size: 13px;
  }
}

@media(max-width :680px){
  .quyenloi{
    top: 80%  ;
  }
  .anhquyenloi{
    width: 130%;
    height: 180%;
   
  }

}
@media(max-width:550px) {
  .nento {
    position: relative;
    display: inline-block;
  }

  .anhrun {
    transform: translate(-50%, -50%) scale(0.5);
    width: 200%;
    height: 100%;
  }

  .toto {
    display: none;
  }

  .khung {
    display: none;
  }

  .toto2 {
    display: block;
  }

  .horizontal-line2 {
    margin-left: auto;
    margin-right: auto;
    width: 2px;
    height: 200px;
    background-color: #E01B43;
    transform: rotate(90deg);
  }

  .bottom-td {
    vertical-align: bottom;
  }

  .xemgia {
    padding-top: 30px;
    text-align: center;
  }

  .banggia {
    margin: auto;
  }

  .thetd {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
  }

  .horizontalline {
    margin: auto;

  }

  .thend {
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
  }

  .thend-text {
    margin: 0;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

  .nento img {
    display: block;
    max-width: 100%;
    position: relative;
  }
  .nenden{
    height: 1200px;
  }

  .thedau {
    position: absolute;
    width: 100%;
    top: 5%;
    left: 60%;

    transform: translate(-50%, -50%);
    z-index: 0;
  }

  .tb2 {
    position: absolute;
    border-collapse: collapse;
    width: 80%;

    background-color: white;
    font-family: 'Times New Roman', Times, serif;

  }



  .anhvet {
    width: 100%;
  }

  .textvet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    font-size: 17px;
  }

  .text1 {
    font-size: 27px;
    text-align: center;
    font-weight: bold;
  }

  .text2 {
    font-size: 15px;
    text-align: center;
    opacity: 0.6;
    font-weight: bold;
  }

  .text3 {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch-input {
    display: none;
  }

  .switch-label {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .butt3 {
    text-align: center;
  }

  .switch-label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
  }

  .switch-input:checked+.switch-label {
    background-color: #ffba00;
  }

  .switch-input:checked+.switch-label:before {
    transform: translateX(26px);


  }

  .anhgymnu {
    position: relative;
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  .anhg {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0% 100%);
  }

  .tb3 {
    position: absolute;

    border-collapse: collapse;
    width: 100%;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
  }

  .div3 {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 0;
    background-color: white;
  }

  .td3 {
    font-weight: bold;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    top: 10%;
    left: 60%;
    color: #fff;
  }

  .text5 {
    font-weight: bold;
    opacity: 0.7;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: left;
  }

  .btn-register {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #4CAF50;
    background-color: #fff;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .btn-register:hover {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #4CAF50;
  }
}