.nav__pc {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background: linear-gradient(to right, #E01B43, #FCAE19);
    position: fixed;
    z-index: 1;
}

.span__nav-pc {
    line-height: 0;
    font-size: 2.2rem;
    transform: translateY(50%);
    margin-left: 10px;
    color: var(--text-color);
    font-weight: 700;
    display: block;
}

.span__nav-pc-link {
    text-decoration: none;
    color: var(--text-color);
    transition: 0.5s;
}

.nav__list {
    display: flex;
    margin-top: 10px;

}

.nav__list-li {
    list-style: none;
    display: inline-block;
    padding: 20px 20px;
    height: 30px;
}

.nav__list-link {
    text-decoration: none;
    font-size: 1.9rem;
    color: var(--text-color);
    transition: 0.5s;
}

.nav__btn_language {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    margin-top: -8px;
}

.nav__list-link:hover,
.span__nav-pc-link:hover {
    position: relative;
    color: var(--text-color-gray);
    top: -2px;
}

.nav__bars-btn {
    font-size: 2.5rem;
    text-align: center;
    color: var(--text-color);
    transform: translateY(30%) translateX(-50%);
    display: none;
}

/* Mobile Nav */
.nav_mobile {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    background-color: #fff;
    transform: translateX(100%);
    transition: 0.5s;
    z-index: 1;

}

@media (max-width: 767px) {
    .nav__bars-btn {
        display: block;
    }

    .nav__list {
        display: none;
    }
}

.nav__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}

.nav-mobile__list {
    padding: 0;
}

.label__nav_mobile {
    width: 20px;

}

.label__nav_mobile i {
    font-size: 2.8rem;
    color: var(--text-color-gray);
    margin-top: 10px;
    margin-left: 280px;
    width: 38px;

}

.nav-mobile__list-li {
    list-style: none;
    width: 100%;
    height: 60px;

}

.nav-mobile__list-li:first-child {
    margin-top: 30px;
}

.nav-mobile__list-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color-gray);
    margin-left: 20px;
    display: block;
    padding-top: 25px;
    transition: all 0.5s ease;

}

.nav-mobile__btn_language {
    width: 100%;
    height: 50px;

    border: none;
}

.nav-mobile__list-link:hover {
    position: relative;
    left: 3px;
}

.nav-mobile__list-li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav__input {
    display: none;
}

.nav__input:checked~.nav__overlay {
    display: block;
}

.nav__input:checked~.nav_mobile {
    transform: translateX(0%);
}

/* end  nav*/
#carouselExampleDark {
    position: relative;
    top: 80px;
    animation: slide 2s ease infinite;
    animation-iteration-count: 1;
    width: 100%;
    z-index: 0;

}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


.background_image{
    position: relative;
}
.background_image:after{
    background-image: url(/assets/img/background_image.jpg);
    opacity: 0.1;
    min-height: 110%;
    content: "";
    background-size: cover;
    position: absolute;
    inset: 0;
    top: 80px;
    object-fit: contain;
    z-index: -1;
}
.gridlibrary-top {
    position: relative;
    top: 120px;
    
    
}
.gridlibrary__content{
    margin-bottom: 25px;
}
.gridlibrary__content h1 {
    text-align: center;
    color: var(--text-color-gray);
    font-weight: 700;
    
}

.gridlibrary__content p {
    font-size: 1.6rem;
    text-align: center;
}

.collibrary_size{
    text-align: center;
    position: relative;
}
.img-item {
    height: auto;
    min-height: 278px;
    max-width: 100%;
    width: 100%;
    max-height: 278px;
    object-fit: cover;
    transition: 0.5s;
    
    
}
.caption{
    position: absolute;
    top: 30px;
    left: 30px;
    width: 80%;
    height: 80%;
    
}
.caption:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scale(0,1);
}
.collibrary_size:hover .caption:before{
    transform: scale(1,1);
}
.caption:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scale(1,0);
}
.collibrary_size:hover .caption:after{
    transform: scale(1,1);
}
.collibrary_size:hover .img-item{
    transform: rotate(-5deg) scale(1.1);
    opacity: 0.3;
   
}
.caption-about{
    width: 100%;
    height: 100%;
    position: absolute;
    margin-top: 85px;
    font-size: 2.2rem;
    font-weight: bold;
    color:#FFFFFF;
    transition: 0.8s;
    opacity: 0;
}
.collibrary_size:hover .caption-about{
    opacity: 1;
}
@media (max-width:1023px){
    .collibrary_size:nth-child(1),.collibrary_size:nth-child(2){
        margin-bottom: 10px;
    }
}
.selectpt{
    width: 20em;
     height: 3em;
     text-align: center;
     font-size: medium;
     font-weight: 400  ;
   
}
.optionpt {

 font-size: large;
 font-weight: 400  ;
}
.btndangky{
position: relative;
top: 100px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    color: white;
 padding : 0.5em 1em 0.5em 1em ;
    background-color: red;
}
.luachonhoivien {
    text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 180%;
  font-weight: bold;
    color: black;
 
}
a.clicked {
   
   text-decoration: #ff0000 underline;
   color: #ff0000;
   zoom: 1.2;
    transition: all 0.3s ease;
  }



  .content {
    position: relative;
    z-index: 2;
    padding: 50px;
  }
  
.run{
    width: 80%;
    height: 100%;
}
.new-row {
    clear: left;
  }
  .horizontal-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .horizontal-list li {
    display: inline-block;
    margin-right: 10px; /* Để tạo khoảng cách giữa các thẻ */
  }
a:hover{
    color: #ff0000;
    zoom: 1.2;
     transition: all 0.3s ease;
}
.horizontal-line {
    width: 0.1px;
    height: 200px;
    background-color: darkgrey;
    transform: rotate(180deg);
  }
  .horizontalline{
    width: 150px;
    height: 0.1px;
    background-color: darkgrey;
 
  }

  .horizontal-line2 {
    margin-left: 2em;
    margin-right: 2em;
    width: 3px;
    height: 180px;
    background-color: #E01B43;
    transform: rotate(180deg);
  }
  .xemgia{
    margin-top: 2em;
    margin-left: 3em;
  }
  .so{
    font-size: 300%;
    font-weight: bold;
  }
  .chu{
    font-size: 200%;
    font-weight: bold;
  }
  .thetd:hover{
    color: #ff0000;
  }
  .thend{
    font-size: 140%;
  }
  .banggia {
    font-family: 'Times New Roman', Times, serif;
  }
  .btndkngay{
    width: 70%;
    background-color: #E01B43;
    color: #fff;
    font-size: 150%;
    font-weight: bold;
    border: none;
  }
  .btndkngay:hover{
    background-color: brown;
  }